.currency-main {
  margin-bottom: 200px ;
  border: 1px solid rgb(118, 118, 118);
  width: 500px;
  height: 210px;
  border-radius: 5lx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(201, 196, 191);
  font-weight: bold;
  border-radius: 8px;
  

}

.currency-main:hover{
  background-color: rgb(167, 171, 174);
}

.amount-input {
  width: 100px;
  height: 22px;
  margin-right: 10px;
}

.first-currency-option {
  width: 70px;
  height: 28px;
  margin-right: 10px;
}

.second-currency-option {
  width: 70px;
  height: 28px;
  margin-right: 10px;
}

.result-input {
  width: 100px;
  height: 22px;
  margin-right: 10px;
}
  

.button-main .button{
  width: "100px";
  height: "30px";
  border: "none";
  background-Color: green;
  color:#fff;
  cursor: pointer;  
  margin-top: 30px;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  
}

.button-main .button:hover{
  background-color:rgb(223, 18, 18);
}
