body {
  margin: 0;
  padding: 0;
  background-image: url(/src/image/currency-images.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
}

